VT,#ff0000
VT - distal,#ff8000
VT - proximal,#ff6666
VT - superficial,#cdaa7d
LP,#ffff00
VLP,#1ab394
Hybrid,#000000
Explosion,#800000
Tremor,#008000
Lahar,#a0522d
Pyroclastic Flow,#ba55d3
Regional,#ff00ff
Rock Fall,#00ff00
Teleseism,#330099
Ice quake,#00ccff
Noise,#ffffff
Cultural,#0000ee
Unclassified,#cccccc
